# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

Resume: agy --conversation=7b360272-f9eb-4296-b664-a4bd24786316 (or -c)
Resume in the same project: agy --conversation=7b360272-f9eb-4296-b664-a4bd24786316 --project=default-cli-project
ypragnesh@Y-N-Pragnesh mscsrmap % 